<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="body">

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <img id="logo_header" src="~/Images/Headers/West Springs Cross.png" />
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("West Springs Church", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Start</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Statements", "Statements", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Connect</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Our Ministries", "Ministries", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Online Sermons", "Sermons", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Contact")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Serve</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Ongoing Opporitunities", "Serve", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Give", "Give", "Home")</li>
                    <li>@Html.ActionLink("Calendar", "ComingSoon", "Home")</li>
                    <li>@Html.ActionLink("Directory", "Index", "Directories")</li>
                </ul>

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>
                &copy; @DateTime.Now.Year - 2016 West Springs Church | 501 Big Bend Rd, Ballwin, MO, 63021 | 636.394.7100
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
}
else
{
    <div id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <img id="logo_header" src="~/Images/Headers/West Springs Cross.png" />
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("West Springs Church", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Start</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Statements", "Statements", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Connect</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Our Ministries", "Ministries", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Online Sermons", "Sermons", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Contact")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Serve</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Ongoing Opporitunities", "Serve", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Give", "Give", "Home")</li>
                    <li>@Html.ActionLink("Calendar", "ComingSoon", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="container body-content" id="body">
        @RenderBody()
        <hr />
        <footer>
            <div>
                &copy; @DateTime.Now.Year - 2016 West Springs Church | 501 Big Bend Rd, Ballwin, MO, 63021 | 636.394.7100
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
}

</body>
</html>
